body {
	font-family: 'Open Sans','Noto Sans KR' !important;
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: rgba(245, 237, 214, 0.8) !important;
	overflow-y: scroll;
}

.container {
	margin: 0 auto;
/* 	overflow: auto; */
/* 	background: blue; */
}

.container2 {
	height : 700px;
	margin: 0 auto;
/* 	overflow: auto; */
/* 	background: blue; */
}
#menu, #menuMember {
	padding-top: 20px;
}

tr {
  -ms-overflow-style: none; // IE에서 스크롤바 감춤
  &::-webkit-scrollbar { 
    display: none !important; // 윈도우 크롬 등
  }
}

#menu {
	font-weight: bold;
	font-size: 11pt;
}

footer {
	padding-top: 50px;
	color: white;
}

.footerLink li{
	list-style: none;
}

.footerlink li a{
	color: white;
	text-decoration: none;
}

.carousel-inner > .item{
  width:auto;
  height: 400px;
  overflow: hidden;
  vertical-align: center;
}