.item-row {
	width: 100%;
	height: 46px;
	box-sizing: border-box;
	padding-top: 11px;
	padding-bottom: 11px;
	
	padding-left: 10px;
	padding-right: 10px;
	div {
		float: left;
		line-height: 24px;
	}

	.check-box {
		width: 24px;
		margin-right: 20px;
		&:hover {
			cursor: pointer
		}
		
	}

	.name {	
		width: 30%;		
	}

	
	.description {
		text-align: center;
		width: 50%;
	}


}