.page {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	
	font-weight: 300;
	font-size: 24px;
}

.table-header {
	display: flex;
	align-items: center;
	justify-content:center;
}


.title-text {
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.btn-text {
	margin-top: 20px;
	background: red;
}

.border {
	border: 1px solid rgba(0, 0, 0, 0.12);
	padding-bottom: 15px;
	color: #fff;
	background: #fff;
}

.btn-fill {
	width: 100%;
	height: 100%;
	background: yellow;
	position: absolute;
}



.button-4{
  width:130px;
  height:45px;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin-top: 20px;
}
.button-4 a{
	font-family:arial;
	font-size:16px;
	color:#34495e;
	text-decoration:none;
	line-height:45px;
	transition:all .5s ease;
	z-index:2;
	position:relative;
}
.eff-4{
	width:130px;
	height:45px;
	left:-140px;
	background:#34495e;
	position:absolute;
	transition:all .5s ease;
	z-index:1;
}
.button-4:hover .eff-4{
  left:0;
}
.button-4:hover a{
  color:#fff;
}